<!DOCTYPE html>
<head>
	<title>homeDictator</title>
	{%include 'links.html'%}
	<script>
		$(document).ready(function() {
			$('select').material_select();
			$('.button-collapse').sideNav();
			$('#dropnav').dropdown({ hover: true, belowOrigin: false ,constrainWidth: false});
			$('#dropbar').dropdown({ hover: false, belowOrigin: false });
			$('.chips-autocomplete').material_chip({
				data: [
				{% for user in users %}
				{ tag: "{{ user['name'] }}",},
				{%endfor%}
				{tag: '',}],

				autocompleteOptions: {
					data: {
						{% for user in users %}
						'{{ user['name'] }}'  : null,
						{%endfor%}
						'': null,
					},
					limit: Infinity,
					minLength: 1
				}
			});

		});
		//for (var i = 0; i < ($('.chips-autocomplete').material_chip('data')).length; i++) {
  		// console.log($('.chips-autocomplete').material_chip('data')[i]['tag'])
		//}
	</script>
</head>
<body>
	{%include 'navbar_sidebar.html'%}
	<div class="margin-top">
		{%if error%}
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content white-text">
						<span>{error}</span>
					</div>	
				</div>
			</div>
		</div>
		{%endif%}
		<div class="row">
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content white-text">
						<img class="responsive-img plot" src="{{ url_for('static',filename=plot)}}">
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="card">
					<div class="card-content white-text">
						<table class="flow-text">
							<tbody>
								{% for user in users %}
								<tr class="
								{% if(user['balance'] < 0) %}
								{{ 'red darken-2' }}
								{% endif %}
								{% if(user['balance'] > 0) %}
								{{ 'green darken-2' }}
								{% endif %}
								">
								<td>{{ user['name'] }}</td>
								<td id="{{user['name']}}td">{{ "{0:.2f}".format(user['balance']) }} €</td>
							</tr>
							<script type="text/javascript">
								$(document).ready(function() {
									var options = {
										  useEasing : true, 
										  useGrouping : false, 
										  separator : ',', 
										  decimal : '.', 
										suffix : '€'
									};
									var demo = new CountUp("{{user['name']}}td", 0, {{ "{0:.2f}".format(user['balance']) }}, 2, 1.7, options);
									demo.start();
								});
							</script>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> 
	{%if name%}
	<div class="fixed-action-btn" id="addfloat">
		<a class="btn-floating btn-large blue">
			<i class="large material-icons">mode_edit</i>
		</a>
		<ul>
			<li><a class="btn-floating red tooltipped" data-position="left" data-delay="20" data-tooltip="Activity" data-target="modalactivity"><i class="material-icons">insert_chart</i></a></li>
			<li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="20" data-tooltip="Money" data-target="modalpaga"><i class="material-icons">attach_money</i></a></li>
		</ul>
	</div>
	{%else%}
	<div class="fixed-action-btn" id="addfloat">
		<a class="btn-floating btn-large blue" onclick='Materialize.toast("You have to login to use this function",2000,"blue")'>
			<i class="large material-icons">mode_edit</i>
		</a>
	</div>
	{%endif%}

	<script type="text/javascript">
		function tap_mobile(){
			mobile_d=(window.innerWidth
				|| document.documentElement.clientWidth
				|| document.body.clientWidth)<993;

			if(!mobile_d){
				$('#tap-user').tapTarget('open');
			}
			else{$('#tap-nav').tapTarget('open');}
		}
	</script>
	<div class="tap-target blue" data-activates="addfloat" id="tap-add" onclick=" tap_mobile()">
		<div class="tap-target-content white-text">
			<h5>Hello New user!</h5>
			<p>Press this button to add an activity that you did, or add a new bill to spit with the others</p>
			<p>Press in this area to continue this brief tour, anywhere else to stop it</p>
		</div>
	</div>
	<div class="tap-target blue" data-activates="dropdownuser" id="tap-user"  onclick="$('#tap-nav').tapTarget('open');">
		<div class="tap-target-content white-text">
			<h5>This is your avatar</h5>
			<p>Press here to log-in or, when you already have, access you profile page</p>
		</div>
	</div>
	<div class="tap-target blue" data-activates="nav-menu" id="tap-nav">
		<div class="tap-target-content white-text">
			<h5>This is the menu</h5>
			<p>With a click, or a swipe from mobile you can access the main commands.<br><br>That's all folks!</p>
		</div>
	</div>
	<div id ="modalpaga" class = "modal white-text">
		<form method="POST" action="/pay" onsubmit="return validatepaga()" name="pagaform" id="pagaform">
			<div class="col s6 m6 white-text">
				<div class="input-field">
					<select name="user" class="validate">
						<option value="" disabled selected>Creditor</option>
						{% for user in users %}
						<option value="{{ user['id'] }}">{{ user['name'] }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-field validate">
					<label>Amount €</label>
					<input type="number" name="amount" step="0.01" min="0">
				</div>

				<label>Description:</label>{%if False%}
				<div class="input-field white-text">

					<div class="chips chips-autocomplete" data-index="0" data-initialized="true">
						<input type="text" name="description" class="input" type="text">
						<ul class="autocomplete-content dropdown-content"></ul>
					</div>
				</div>{%endif%}
				<div class="input-field">
					<label>Description</label>
					<input type="text" name="description">
				</div>
			</div>
			<div class="col s6 m6">
				<div class="input-field">
					<table>
						<tbody>
							{% for user in users %}
							<tr>
								<td>{{ user['name'] }}</td>
								<td><input type="number" name="{{ user['name'] }}" value="1" min="0"></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<button type="submit" class="waves-effect waves-light btn blue">Add</button>
		</form>
	</div>
	<div id="modalactivity" class="modal white-text center-align">
		<span class="title">Add an activity that you did</span>
		<form method="POST" action="/log" onsubmit="return validateactivity()" name="activity" id="addform" >
			<div class="input-field">
			</div>
			<select name="task">
				<option value="" disabled selected>Activities</option>
				{% for task in tasks %}
				<option value="{{ task['id'] }}">{{ task['name'] }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="waves-effect waves-light btn blue">Add</button>
		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#modalactivity').modal();
			$('#modalpaga').modal();
		});
		function validateactivity() {
			var x = document.forms["activity"]["task"].value;
			if (x == "") {
				Materialize.toast("Select an activity, you cannot leave this field empty!",2000,'red');
				return false;
			}
			return true;
		}
		function validatepaga() {
			var creditore = document.forms["pagaform"]["name"].value;
			var importo =  document.forms["pagaform"]["amount"].value;
			if (creditore == ""  ) {
				Materialize.toast("Select a creditor, you cannot leave this field empty!",2000,'red');
				return false;
			}
			if (importo="") {
				Materialize.toast("Select an amount, you cannot leave this field empty!",2000,'red');
				return false;
			}
			return true;
		}		
	</script>
</div>
</body>
