body{
	background-image: url("../img/dark_back.png");
	background-attachment: fixed;
	background-repeat: repeat;
}

@media only screen and (min-width: 600px){

	.flow-text {
	    font-size: 1.36rem;
	}

}

.card {
	background-color: rgba(0,0,0,.15);
}
table {
	border-radius: 3px;
    overflow: hidden;
}
table *{
	color: white; 
	background-color: rgba(1,2,3,0);
}
table tr{
	transition-duration: 0.2s;
}
table tr:hover{
	background-color: #111;
}
.right{
	float: right;
}
td{
	padding: 1px 5px !important;
	border-radius: initial;
}
.dafare{
	padding: 0 5px !important;
    font-size: large;
    margin: 0 20px;
}
#dropdownuser{
	width: auto !important;
}
@media screen and (max-width: 480px) {
	.title{
		display: none !important;
	}
	.dafare{
	    font-size: initial;
	}
}

.home{
	height: 64px;
}
.home img{
	width: 30px;
    margin-top: 16px;
    filter: brightness(100);
}
#home-dict{
	margin-right: 0 !important
}

#avatar{
	max-height: 52px !important;
	line-height: 64px !important;
	vertical-align: middle !important;
	margin-top: -2px !important;
}

#nav-mobile>li {
	max-height: 64px !important;
}

::-webkit-scrollbar {
    display: none;
}
.modal{
    padding: 20px;
    background: #222;
}
.modal input{
	max-width: 85% !important;
}
.modal .input-field label:not(.label-icon).active {
	transform: translateY(-50%) !important;
}
#user-title{
	padding-top: 10px !important;
}

#user-nav-button{
	display: flex !important;
}
@media only screen and (max-width: 600px){
#userpage-img{
    max-width: 220px;
    max-height: 2220px;

}}
#addform {
height: 330px !important;
}

#navbar{
	position: fixed !important;
	top: 0;
	z-index: 10000;
}

.container,
.margin-top{
	margin-top: 70px;
}

.plot{
	filter: invert(0.86);
}